/* --------Fonts-------- */

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&amp;family=Public+Sans:wght@400;500;600;700&amp;display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* ------General------- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

img,
fieldset,
a img {
    border: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    -webkit-appearance: none;
}

input[type="submit"],
button {
    cursor: pointer;
    background: none;
}

input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

textarea {
    overflow: auto;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input,
button {
    margin: 0;
    padding: 0;
    border: 0;
}

div,
input,
textarea,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
a:focus {
    outline: none;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

ul,
ol {
    list-style-type: none;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

a,
button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: 'Open Sans', sans-serif !important;
}


/* --------Structure--------- */

.main-padding {
    padding: 130px 0px;
}

.sec-padding {
    padding: 80px 0px;
}


/* --------Colors----------- */

.main-blue {
    color: #00006D !important;
}


/* --------Navigation-------- */

.nav-link {
    font-size: 16px;
}

.nav-link:hover {
    color: #f54949 !important;
}


/* ----------Hero---------- */

.hero {
    background: #FAFBFF;
}

.hero-title {
    margin-bottom: 32px;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    line-height: 1.3;
    font-weight: 900;
    letter-spacing: -.01em;
}

.hero-lead {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 40px;
    color: #617594;
}


/* ---------Section--------- */

.section-title {
    margin-bottom: 32px;
    font-family: 'Merriweather', serif;
    font-size: 36px;
    line-height: 1.3;
    font-weight: 900;
    letter-spacing: -.01em;
}

.section-span {
    border-bottom: 3px solid #f65858;
    color: #f65858;
    cursor: pointer;
}


/* ---------Buttons--------- */

.btn {
    font-family: 'Open Sans', sans-serif !important;
}

.b-border {
    border-radius: 4px !important;
}

.btn-red {
    background-color: #f65858 !important;
    color: #fff !important;
}

.btn-red:hover {
    background-color: #f54949 !important;
}

.main-btn {
    padding: 14px 25px;
    font-size: 18px;
    line-height: 1.3333333;
    text-decoration: none !important;
    text-align: center;
    cursor: pointer;
    min-width: 250px !important;
}

.btn-small {
    font-size: 15px !important;
    padding: inherit 20px !important;
    padding: 10px 30px !important;
}

.btn-no-bg {
    background-color: transparent !important;
    color: #000 !important;
    border: 1px solid #e8e8e8 !important;
    padding: 10px 20px !important;
}